body::-webkit-scrollbar {
    overflow: hidden;
    display: none;
  }
  
  *{
      margin: 0px;
      padding: 0;
  }
  
  .container{
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

  }

  #stopwatch{
    font-size: 100px;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    
  }

  #btns{
    display: flex;
  }

  button{
    padding: 20px;
    background-color: #694343;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: larger;
    margin: 10px;
    width: 100px;
    transition: all 0.5s;
  }
  button:hover{
    cursor: pointer;
  }